* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  @include cf();
  margin: 0 auto;
}

.row {
  @include cf();
}

@include breakpointLargerThan($breakpoint-md) {
  .container {
    max-width: $container-width-md;
  }

  @for $i from 1 through $grid-columns {
    .col--#{$i} { @include column($i/$grid-columns, $gutter: $grid-gutter); }
    .col--push-#{$i} { @include shift($i/$grid-columns, $gutter: $grid-gutter); }
    .col--pull-#{$i} { @include shift(-$i/$grid-columns, $gutter: $grid-gutter); }
  }
}

@include breakpointSmallerThan($breakpoint-md) {
  .container {
    max-width: $container-width-md;
  }

  .row [class^="col--"]:first-child {
    margin-bottom: $base-margin;
  }
}

@include breakpointLargerThan($breakpoint-lg) {
  .container {
    max-width: $container-width-lg;
  }
}

@include breakpointLargerThan($breakpoint-xl) {
  .container {
    max-width: $container-width-xl;
  }
}
