.container {
  margin-left: auto;
  margin-right: auto;
  padding-left:  $grid-gutter / 2;
  padding-right: $grid-gutter / 2;
}

.row {
  @include cf();
  margin-left: $grid-gutter / -2;
  margin-right: $grid-gutter / -2;
}

.col {
  @include make-column();
}

@for $i from 1 through $grid-columns {
  .col--#{$i} { @include column($i/$grid-columns); }
  .col--offset-#{$i} { @include offset($i/$grid-columns); }
  .col--push-#{$i} { @include push($i/$grid-columns); }
  .col--pull-#{$i} { @include pull($i/$grid-columns); }
}

@include breakpointSmallerThan($breakpoint-sm) {
  .container {
    max-width: $container-width;
  }
}

@include breakpointLargerThan($breakpoint-sm) {
  .container {
    max-width: $container-width-sm;
  }

  @for $i from 1 through $grid-columns {
    .col--sm-#{$i} { @include column($i/$grid-columns); }
    .col--sm-offset-#{$i} { @include offset($i/$grid-columns); }
    .col--sm-push-#{$i} { @include push($i/$grid-columns); }
    .col--sm-pull-#{$i} { @include pull($i/$grid-columns); }
  }

  .col--sm-push-0 { left: 0; }
  .col--sm-pull-0 { right: 0; }
}

@include breakpointLargerThan($breakpoint-md) {
  .container {
    max-width: $container-width-md;
  }

  @for $i from 1 through $grid-columns {
    .col--md-#{$i} { @include column($i/$grid-columns); }
    .col--md-offset-#{$i} { @include offset($i/$grid-columns); }
    .col--md-push-#{$i} { @include push($i/$grid-columns); }
    .col--md-pull-#{$i} { @include pull($i/$grid-columns); }
  }

  .col--md-push-0 { left: 0; }
  .col--md-pull-0 { right: 0; }
}

@include breakpointLargerThan($breakpoint-lg) {
  .container {
    max-width: $container-width-lg;
  }

  @for $i from 1 through $grid-columns {
    .col--lg-#{$i} { @include column($i/$grid-columns); }
    .col--lg-offset-#{$i} { @include offset($i/$grid-columns); }
    .col--lg-push-#{$i} { @include push($i/$grid-columns); }
    .col--lg-pull-#{$i} { @include pull($i/$grid-columns); }
  }

  .col--lg-push-0 { left: 0; }
  .col--lg-pull-0 { right: 0; }
}

@include breakpointLargerThan($breakpoint-xl) {
  .container {
    max-width: $container-width-xl;
  }

  @for $i from 1 through $grid-columns {
    .col--xl-#{$i} { @include column($i/$grid-columns); }
    .col--xl-offset-#{$i} { @include offset($i/$grid-columns); }
    .col--xl-push-#{$i} { @include push($i/$grid-columns); }
    .col--xl-pull-#{$i} { @include pull($i/$grid-columns); }
  }

  .col--xl-push-0 { left: 0; }
  .col--xl-pull-0 { right: 0; }
}
