.container {
  margin-left: auto;
  margin-right: auto;

  @include breakpoint-smaller($breakpoint-sm) {
    max-width: $container-width;
  }

  @include breakpoint-larger($breakpoint-sm) {
    max-width: $container-width-sm;
  }

  @include breakpoint-larger($breakpoint-md) {
    max-width: $container-width-md;
  }

  @include breakpoint-larger($breakpoint-lg) {
    max-width: $container-width-lg;
  }

  @include breakpoint-larger($breakpoint-xl) {
    max-width: $container-width-xl;
  }
}

.container--grid {
  @include grid-gutter($grid-gutter);
}

.container--scrollable-x {
  overflow-x: scroll;
}

.container--scrollable-y{
  overflow-y: scroll;
}

.row {
  @include cf();

  margin-left: $grid-gutter / -2;
  margin-right: $grid-gutter / -2;
}

.col {
  @include grid-gutter($grid-gutter);

  min-height: 1px;
  position: relative;
}

@include create-columns();

@include breakpoint-larger($breakpoint-sm) {
  @include create-columns(sm);
}

@include breakpoint-larger($breakpoint-md) {
  @include create-columns(md);
}

@include breakpoint-larger($breakpoint-lg) {
  @include create-columns(lg);
}

@include breakpoint-larger($breakpoint-xl) {
  @include create-columns(xl);
}
