.block-align--center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.block-align--left {
  position: relative;
  left: 0;
}

.block-align--right {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

@for $i from 1 through $grid-columns {
  .width--#{$i} { width: column-width($i/$grid-columns); }
}

@include breakpoint-larger($breakpoint-sm) {
  @for $i from 1 through $grid-columns {
    .width--sm-#{$i} { width: column-width($i/$grid-columns); }
  }
}

@include breakpoint-larger($breakpoint-md) {
  @for $i from 1 through $grid-columns {
    .width--md-#{$i} { width: column-width($i/$grid-columns); }
  }
}

@include breakpoint-larger($breakpoint-lg) {
  @for $i from 1 through $grid-columns {
    .width--lg-#{$i} { width: column-width($i/$grid-columns); }
  }
}

@include breakpoint-larger($breakpoint-xl) {
  @for $i from 1 through $grid-columns {
    .width--xl-#{$i} { width: column-width($i/$grid-columns); }
  }
}
