* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-regular;
  background-color: $background-color;
  color: $color;
  min-height: 100%;
}

body.no-scroll {
  overflow: hidden;
  height: 100%;
}