* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  background-color: $background-color-body;
  color: $color-default;
  min-height: 100%;
}

body.no-scroll {
  overflow: hidden;
  height: 100%;
}