table {
  max-width: 100%;
  background-color: $table-background-color;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  margin-bottom: $table-margin;

  th,
  td {
    padding: $table-cell-padding;
    line-height: $table-line-height;
    vertical-align: top;
    border-top: 1px solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    font-weight: $table-th-font-weight;
  }

  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }

  tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  .table {
    background-color: $table-background-color;
  }
}