h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0;
  font-weight: $font-weight-thin;
  font-family: $font-family-headings;
  margin-bottom: $margin-default;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 0.625em;
  color: $color-headings-small;
}

p {
  line-height: $line-height-default;
  margin: 1rem 0;
}

p.lead {
  font-size: 1.375em;
  font-weight: $font-weight-thin;
}

small,
.small {
  font-size: 0.75rem;
}

.big {
  font-size: 1.25rem;
}

b,
strong {
  font-weight: $font-weight-bold;
}

i,
em {
  font-style: italic;
}

mark {
    background-color: $color-mark;
    padding: 0 0.25em;
}

abbr,
ins {
  text-decoration: none;
  border-bottom: 1px dotted $color-default;
}

u {
  text-decoration: none;
  border-bottom: 1px solid $color-default;
}

kbd {
  font-family: $font-family-monospace;
  font-size: 0.875rem;
}

a {
  color: $color-primary;
  transition: color $transition-time;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: $color-primary - $color-diff;
}

a:active {
  position: relative;
  top: 1px;
}

blockquote {
  border-left: 5px solid $gray;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: $gray;

  cite {
    font-size: 1rem;
    color: $gray;

    &:before {
        content: "— ";
    }
  }
}

hr {
  border: 0;
  border-bottom: 1px solid darken($background-color-body, 7);
  margin: 20px 0 20px 0;
  clear: both;
}

pre,
code {
  font-family: $font-family-monospace;
  font-size: $font-size-code;
  line-height: $line-height-code;

  color: $color-code;
  background-color: $background-color-code;
  border: 1px solid $border-color-code;
  border-radius: 3px;

  padding: 0.8rem 1rem;

  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

pre {
  margin-bottom: 1rem;
}

code {
  display: inline-block;
  padding: 0.1rem 0.3rem;
}

::-moz-selection {
  color: $color-selection;
  background: $background-color-selection;
}

::selection {
  color: $color-selection;
  background: $background-color-selection;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--justify {
  text-align: justify;
}

.text--nowrap {
  white-space: nowrap;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--capitalize {
  text-transform: capitalize;
}
