@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Light.eot');
  src: url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
     url('../fonts/lato/Lato-Light.woff') format('woff'),
     url('../fonts/lato/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.eot');
  src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
     url('../fonts/lato/Lato-Regular.woff') format('woff'),
     url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bold.eot');
  src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
     url('../fonts/lato/Lato-Bold.woff') format('woff'),
     url('../fonts/lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Black.eot');
  src: url('../fonts/lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
     url('../fonts/lato/Lato-Black.woff') format('woff'),
     url('../fonts/lato/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}