// Grid
$grid-columns: 12;
$grid-gutter: 2.6315789 !default; // 1140 / 30

// Breakpoints
$breakpoint-sm: 480px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 970px !default;
$breakpoint-xl: 1200px !default;

// Containers
$container-width-default: 95% !default;
$container-width-sm: 95% !default;
$container-width-md: 95% !default;
$container-width-lg: 960px !default;
$container-width-xl: 1140px !default;

// Fonts
$font-family-monospace: Menlo, Consolas, "Courier New", monospace !default;

// Font Size
$font-size-code: 0.875rem;

// Font Weight
$font-weight-thin: 300;
$font-weight-bold: 700;

// Line Height
$line-height-default: 1.7;
$line-height-code: 2;

// Colors
$color-primary: $blue;
$color-success: $green;
$color-code: #DCDCDC;
$color-diff: #151515;

// Backgrounds
$background-body: #FFFFFF;
$background-code: #3F3F3F;

// Borders
$border-code: #3F3F3F;

// Animations
$transition-time: 0.2s;

// Margins
$margin-default: 1.5rem;
