#grid .row > [class^="col"] > div {
  font-size: 0.875rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  color: #FFF;
  text-align: center;
  margin-bottom: 1rem;
}

#grid .row > [class^="col"]:nth-child(even) > div {
  background-color: #2980b9;
}

#grid .row > [class^="col"]:nth-child(odd) > div {
  background-color: #34495e;
}

.bedrock-section {
    max-width: 95%;
    margin: 0 auto 5em;
}

.bedrock-subsection {
    margin-bottom: 4em;
}

.bedrock-section-title {
    font-size: 2.5em;
    color: #2A2A2A;
    margin-bottom: 0.875em;
    font-weight: 500;
    text-align: center;
}

.bedrock-subsection-title {
    color: #4A4A4A;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.bedrock-subsection-content {
  margin-bottom: 3em;
}

.bedrock-subsection-code {
    font-size: 0.875em;
}

.bedrock-subsection-code pre {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.bedrock-subsection-code code {
  padding: 0 1.5em;
}
