.row {
  margin-bottom: 1.5rem;
}

.row > [class^="col"] {
  font-size: 0.875rem;
  padding: 1.125rem 0.3125rem;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.row > [class^="col"]:nth-child(even) {
  background-color: #2980b9;
}

.row > [class^="col"]:nth-child(odd) {
  background-color: #34495e;
}