.row {
  margin-bottom: 1.5rem;
}

.row > [class^="col"] {
  font-size: 0.875rem;
  padding: 1.125rem 0.3125rem;
  color: #FFF;
  text-align: center;
  border-radius: 4px;
}

.row > [class^="col"]:nth-child(even) {
  background-color: #2980b9;
}

.row > [class^="col"]:nth-child(odd) {
  background-color: #34495e;
}

.bedrock-section {
    margin-bottom: 4em;
}

.bedrock-subsection {
    margin-bottom: 3em;
}

.bedrock-section-title {
    font-size: 2.5em;
    color: #2A2A2A;
    margin-bottom: 0.875em;
    font-weight: 500;
}

.bedrock-subsection-title {
    font-size: 1.25em;
    font-weight: 500;
    color: #4A4A4A;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #F2F2F2;
}

.bedrock-subsection-content {
    padding: 2em;
    border: 1px solid #F2F2F2;
    border-radius: 0 0 3px 3px;
}

.bedrock-subsection-code {
    font-size: 0.875em;
}

.bedrock-subsection-code code {
    padding: 0.5em 1.5em;
}